* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
body,
.Header,
.Footer {
  font-family: "Quicksand", sans-serif;
  background: #ffffff;
}

a {
  text-decoration: none;
}

.App {
  position: relative;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: #dce8f2;
}

.Header {
  position: relative;
  background: #1c7fd6;
  height: 50px;
}

.Header h1 {
  color: white;
  font-size: 1.5em;
  padding-top: 15px;
  text-align: center;
}

.Footer {
  position: relative;
  bottom: 0;
  height: 3em;
  margin-top: 0.2em;
  width: 100%;
  background: #1c7fd6;
  color: white;
  text-align: center;
}

.HomeContent {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 6.1em);
}

.HomeContent .Links {
  margin-top: 0.2rem;
}

.HomeContent .Links .LinkButton {
  color: white;
  font-size: 1.1em;
  background: #4e98d9;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: calc(100% - 50px);
  height: 2rem;
  float: right;
  padding-left: 20px;
  padding-top: 0.4rem;
}

.LinkButtonShort {
  color: white;
  font-size: 1.1em;
  background: #4e98d9;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: calc(100% - 100px);
  height: 2rem;
  float: left;
  padding-left: 20px;
  padding-top: 0.4rem;
}

.HomeContent .Links .LinkButton:hover {
  cursor: default;
}

.HomeContent .Links .LinkButtonShort:hover {
  cursor: default;
}

.HomeContent .Links .HomeDeleteButton {
  float: left;
  background: #9e000b;
  border: none;
  height: 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 50px;
}

.HomeContent .Links .HomeDeleteButton:hover {
  background: yellow;
}

.Input {
  position: relative;
  margin-top: 1em;
  padding-left: 1em;
  margin-bottom: 1em;
}

.AddInput {
  width: calc(100% - 70px);
  position: relative;
  height: 25px;
  border: 1px solid #9de86b;
  text-align: center;
}

.AddInputSubmit {
  width: 50px;
  position: relative;
  border: none;
  background: #9de86b;
  height: 25px;
  margin-left: 0;
  text-align: center;
}

.Key {
  margin-top: 0.2rem;
  color: white;
  font-size: 1.1em;
  background: #03a1fc;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: calc(100% - 50px);
  height: 2rem;
  float: left;
  padding-left: 20px;
  padding-top: 0.4rem;
}

.Total {
  margin-top: 0.2rem;
  color: white;
  font-size: 1.1em;
  background: #ffb400;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: calc(100% - 50px);
  height: 2rem;
  float: left;
  padding-left: 20px;
  padding-top: 0.4rem;
}

.WeekTotalValue {
  float: right;
  color: white;
  font-size: 1.1em;
  background: #cc9000;
  border: none;
  height: 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 50px;
  padding-left: 0.5rem;
  padding-top: 0.4rem;
}

.TotalValue {
  float: right;
  color: white;
  font-size: 1.1em;
  background: #cc9000;
  border: none;
  margin-top: 0.2rem;
  height: 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 50px;
  padding-left: 0.5rem;
  padding-top: 0.4rem;
}

.BackButton {
  border: none;
  background: #ffb400;
  color: white;
  float: left;
  width: 6em;
  height: 3em;
  font-size: 1em;
}

.ResetButton {
  border: none;
  background: #9e000b;
  color: white;
  float: right;
  width: 6em;
  height: 3em;
  font-size: 1em;
}

.FooterHomePageText {
  font-size: 2em;
}

.HourInput {
  font-family: "Quicksand", sans-serif;
  float: right;
  color: white;
  font-size: 1.1em;
  background: #1c7fd6;
  border: none;
  margin-top: 0.2rem;
  height: 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 50px;
  padding-left: 1rem;
  padding-top: 0.2rem;

  -webkit-appearance: none;
  -moz-appearance: textfield;
}
