* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
body,
.Header,
.Footer {
  font-family: "Quicksand", sans-serif;
  background: #ffffff;
}

a {
  text-decoration: none;
}

.App {
  position: relative;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: #dce8f2;
}

.Header {
  position: relative;
  background: #1c7fd6;
  height: 50px;
}

.Header h1 {
  color: white;
  font-size: 1.5em;
  padding-top: 15px;
  text-align: center;
}

.Footer {
  position: absolute;
  bottom: 0;
  height: 3em;
  width: 100%;
  background: #1c7fd6;
  color: white;
  text-align: center;
}

.HomeContent {
  display: flex;
  flex-direction: column;
  padding-bottom: 52px;
}

.HomeContent .Links {
  margin-top: 0.2rem;
}

.HomeContent .Links .LinkButton {
  color: white;
  font-size: 1.1em;
  background: #4e98d9;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: calc(100% - 50px);
  height: 2rem;
  float: right;
  padding-left: 20px;
  padding-top: 0.4rem;
}

.HomeContent .Links .LinkButton:hover {
  background: cyan;
  cursor: default;
}

.HomeContent .Links .HomeDeleteButton {
  float: left;
  background: #9e000b;
  border: none;
  height: 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 50px;
}

.HomeContent .Links .HomeDeleteButton:hover {
  background: yellow;
}

.AddInput {
  width: calc(100% - 70px);
  position: absolute;
  bottom: 55px;
  left: 10px;
  height: 25px;
  text-align: center;
}

.AddInputSubmit {
  width: 50px;
  position: absolute;
  bottom: 54px;
  right: 10px;
  height: 27px;
  text-align: center;
}

.Key {
  margin-top: 0.2rem;
  color: white;
  font-size: 1.1em;
  background: #03a1fc;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: calc(100% - 50px);
  height: 2rem;
  float: left;
  padding-left: 20px;
  padding-top: 0.4rem;
}

.Value {
  float: right;
  color: white;
  font-size: 1.1em;
  background: #03a1fc;
  border: none;
  margin-top: 0.2rem;
  height: 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 50px;
  padding-left: 1rem;
  padding-top: 0.4rem;
}

.BackButton {
  border: none;
  background: #ffb400;
  color: white;
  float: left;
  width: 6em;
  height: 3em;
  font-size: 1em;
}

.FooterHomePageText {
  font-size: 2em;
}
